@media only screen and (max-width: 1010px) {
  header {
    padding: 0 30px;
  }
  main {
    padding: 20px 30px;
  }
  main .wrapper-1 .card {
    margin: 0 10px;
  }
  main .wrapper-2 .row-1 .card {
    margin: 10px;
    padding: 8px 15px;
  }
  main .wrapper-2 .row-2 .card {
    margin: 10px;
    padding: 8px 15px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  header .heading-wrapper {
    margin-bottom: 15px;
  }
  header hr {
    display: unset;
    width: 100%;
  }
  header .dark-mode-switch {
    display: inline-block;
    margin-top: 5px;
  }
  header .dark-mode-switch p {
    display: inline-block;
  }
  header .switch {
    float: right;
  }
  main .wrapper-1 {
    flex-direction: column;
  }
  main .wrapper-1 .card {
    margin: 10px auto;
    width: 60%;
  }
  main .wrapper-2 .row-1 {
    flex-direction: column;
  }
  main .wrapper-2 .row-2 {
    flex-direction: column;
  }
  main .wrapper-2 .row-1 .card {
    margin: 10px auto;
    width: 55%;
  }
  main .wrapper-2 .row-2 .card {
    margin: 10px auto;
    width: 55%;
  }
}
@media only screen and (max-width: 570px) {
  main .wrapper-1 .card {
    width: 80%;
  }
  main .wrapper-2 .row-1 .card {
    width: 75%;
  }
  main .wrapper-2 .row-2 .card {
    width: 75%;
  }
}
@media only screen and (max-width: 450px) {
  header .heading-wrapper h1 {
    font-size: 6vw;
  }
  header .heading-wrapper h3 {
    font-size: 4vw;
  }
  header .dark-mode-switch {
    font-size: 4vw;
  }
  main .wrapper-1 .card {
    width: 100%;
  }
  main .wrapper-2 .row-1 .card {
    width: 90%;
  }
  main .wrapper-2 .row-2 .card {
    width: 90%;
  }
}
