@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400, 700;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px;
  margin-bottom: 30px;
  /* Rounded sliders */
}

header .heading-wrapper {
  display: inline-block;
}

header .heading-wrapper h1 {
  margin-bottom: 5px;
}

header .heading-wrapper h3 {
  color: #63687e;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

header .dark-mode-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

header .dark-mode-switch p {
  color: #aeb3cb;
  font-weight: 600;
}

header .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 6px;
  margin-left: 10px;
}

header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(232deg, #378fe6 0%, #3eda82 70%);
}

header .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #252a41;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header input:checked + .slider {
  background: #aeb3cb;
}

header input:hover + .slider {
  background: linear-gradient(232deg, #378fe6 0%, #3eda82 70%);
}

header input:checked + .slider:before {
  background: white;
}

header input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

header .slider.round {
  border-radius: 34px;
}

header .slider.round:before {
  border-radius: 50%;
}

main {
  padding: 0 60px;
}

main h2 {
  color: #63687e;
}

main .green-up,
main .red-down {
  margin-bottom: 3px;
  margin-right: 3px;
}

main .green {
  color: #1db489;
}

main .red {
  color: #dc414c;
}

main .wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

main .wrapper-1 .card-facebook {
  border-top: 4px solid #198ff5;
}

main .wrapper-1 .card-twitter {
  border-top: 4px solid #1ca0f2;
}

main .wrapper-1 .card-instagram {
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #fdc468, #df4996) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) 1;
     border-image: linear-gradient(to right, #fdc468, #df4996) 1;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

main .wrapper-1 .card-youtube {
  border-top: 4px solid #c4032a;
}

main .wrapper-1 .card {
  width: 400px;
  text-align: center;
  background-color: #f0f2fa;
  border-radius: 5px;
  margin: 0 20px;
}

main .wrapper-1 .card .card-username {
  font-weight: 500;
}

main .wrapper-1 .card .card-number {
  font-size: 50px;
  font-weight: 700;
  margin: 0 100px;
}

main .wrapper-1 .card .card-text {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #63687e;
  margin: 0 0 20px 0;
}

main .wrapper-1 .card .card-daily-count {
  font-weight: 600;
}

main .wrapper-2 .card-daily-count {
  font-weight: 600;
  display: block;
  float: right;
}

main .wrapper-2 .inline-box {
  margin-top: 15px;
}

main .wrapper-2 .card-icon {
  display: block;
  float: right;
  margin-top: 10px;
}

main .wrapper-2 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrapper-2 .row-1 .card {
  padding: 20px 30px;
  background-color: #f0f2fa;
  border-radius: 5px;
  margin: 20px;
  width: 400px;
}

main .wrapper-2 .row-1 .card .card-text {
  display: inline-block;
  font-weight: 600;
  color: #63687e;
}

main .wrapper-2 .row-1 .card .card-number {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}

main .wrapper-2 .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .wrapper-2 .row-2 .card {
  padding: 15px 30px;
  background-color: #f0f2fa;
  border-radius: 5px;
  margin: 20px;
  width: 400px;
}

main .wrapper-2 .row-2 .card .card-text {
  display: inline-block;
  font-weight: 600;
  color: #63687e;
}

main .wrapper-2 .row-2 .card .card-number {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */